*,
*::before,
*::after {
  box-sizing: border-box;
  // overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.6;
}

h1,
p {
  margin: 0;
}

.container {
  width: 85%;
  max-width: 65em;
  // min-height: 98vh;
  margin: 0 auto;
}

.spacing>*+* {
  margin-top: var(--spacer, 1rem);
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-text, white);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125em;
  padding: 0.7em 1em;
  background: var(--clr-accent, rgb(72, 72, 73));
  border-radius: 0.25em;
  transition: 
        transform 250ms ease-in-out,
        opacity 250ms linear;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: 0.9;
}

.primary-title {
  font-size: 3rem;
  font-size: clamp(2rem, calc(2vw + 1rem), 3rem);
  line-height: 1.1;
  text-transform: uppercase;
}

.hero {
  color: rgb(253, 250, 250);
  text-align: center;
  padding: 10em 0;
  background-color: #222;

  @supports (background-blend-mode: multiply) {
    background: url(https://images.pexels.com/photos/17465/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=750&w=1260),
       radial-gradient(#444, #111);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  @media (min-width: 25em) {
    padding: 12.2em 0;
  }
  
}